@using Polaris.Data
@using Polaris.Modelo
@using System.ComponentModel
@using Polaris.Servicio
@inject UsuarioService usuarioService
@code {
    public UsuarioRegister usuario { get; set; } = new();
    private EditContext? editContext;
    [Parameter]
    public EventCallback<UsuarioRegister> eventRegister { get; set; }
    private string GetDisplayName(string propertyName)
    {
        var property = typeof(UsuarioRegister).GetProperty(propertyName);
        var attribute = property?.GetCustomAttributes(typeof(DisplayNameAttribute), true)
                 .Cast<DisplayNameAttribute>()
                 .FirstOrDefault();
        return attribute?.DisplayName ?? propertyName;
    }
    protected override void OnInitialized()
    {
        editContext = new EditContext(usuario);
        
        usuario.Habilidades ??= Array.Empty<TiposHabilidades>();
        base.OnInitialized();
    }
    public async Task HandleOnValidSubmit()
    {
        if (editContext!.Validate())
        {
            await eventRegister.InvokeAsync(usuario);
        }
    }
    private async Task ResetForm()
    {
        usuario = new();
        editContext = new EditContext(usuario);
    }
    private async Task SelecionarVideo()
    {
        switch (usuario.Proyecto)
        {
            case (int)TiposProyectos.PolariX:

                break;
            case (int)TiposProyectos.Mentes_en_Orbita:

                break;
            case (int)TiposProyectos.Hydronautas:

                break;
            default:

                break;
        };
    }
    private async Task OnInputFileChange(InputFileChangeEventArgs e)
    {
        var archivo = e.File;
        // Llamas a la lógica de conversión aquí
        await usuario.HandleFileSelection(archivo);
    }
    private async Task<AutoCompleteDataProviderResult<string>> InstitutosDataProvider(AutoCompleteDataProviderRequest<string> request)
    {
        var listaInstitutos = usuarioService.usuarios.Select(u => u.Instituto).ToList();
        var items = listaInstitutos
         .Where(x => x.Contains(request.Filter.Value, StringComparison.InvariantCultureIgnoreCase))
         .ToList();

        return await Task.FromResult(new AutoCompleteDataProviderResult<string> { Data = items });
    }
    private async Task<AutoCompleteDataProviderResult<string>> LugaresDataProvider(AutoCompleteDataProviderRequest<string> request)
    {
        var listaLugares = usuarioService.usuarios.Select(u => u.Lugar_actual).ToList();
        var items = listaLugares
         .Where(x => x.Contains(request.Filter.Value, StringComparison.InvariantCultureIgnoreCase))
         .ToList();

        return await Task.FromResult(new AutoCompleteDataProviderResult<string> { Data = items });
    }
    private async Task<AutoCompleteDataProviderResult<string>> RolesDataProvider(AutoCompleteDataProviderRequest<string> request)
    {
        var listaRoles = usuarioService.usuarios.Select(u => u.Rol_actual).ToList();
        var items = listaRoles
         .Where(x => x.Contains(request.Filter.Value, StringComparison.InvariantCultureIgnoreCase))
         .ToList();

        return await Task.FromResult(new AutoCompleteDataProviderResult<string> { Data = items });
    }

}

<EditForm EditContext="@editContext" style="margin:5px 0px" class="grid grid-cols-1 md:grid-cols-12 gap-6 mb-8 overflow-scroll">
    <DataAnnotationsValidator />
    <div class="col-span-1 md:col-span-6">
        <label class="col-12 col-md-4 col-form-label">@GetDisplayName(nameof(usuario.Foto)): <span class="text-danger">*</span></label>
        <div class="col">
            <InputFile OnChange="@(e => OnInputFileChange(e))" />
                <Image Src="@usuario.ImagenSrc"></Image>
            <ValidationMessage For="@(() => usuario.Foto)" class="text-red-500 text-[10px] font-bold uppercase" />
         
        </div>
    </div>
    <div class="form-group row mb-3">
        <label class="col-12 col-md-4 col-form-label">@GetDisplayName(nameof(usuario.Name)): <span class="text-danger">*</span></label>
        <div class="col">
            <TextInput @bind-Value="@usuario.Name" Placeholder="@("Ingrese su " + GetDisplayName(nameof(usuario.Name)))" class="form-control" />
            <ValidationMessage For="@(() => usuario.Name)" class="text-red-400 text-xs mt-1" />
        </div>
    </div>
    <div class="form-group row mb-3">
        <label class="col-12 col-md-4  col-form-label">@GetDisplayName(nameof(usuario.Email)): <span class="text-danger">*</span></label>
        <div class="col">
            <TextInput @bind-Value="@usuario.Email" Placeholder="@("Ingrese su " + GetDisplayName(nameof(usuario.Email)))" class="form-control" />
            <ValidationMessage For="@(() => usuario.Email)" class="text-red-400 text-xs mt-1" />
        </div>
    </div>  
    <div class="form-group row mb-3">
        <label class="col-12 col-md-4 col-form-label">@GetDisplayName(nameof(usuario.Password)): <span class="text-danger">*</span></label>
        <div class="col">
            <PasswordInput @bind-Value="@usuario.Password" Placeholder="@("Ingrese su " + GetDisplayName(nameof(usuario.Password)))" class="form-control" />
            <ValidationMessage For="@(() => usuario.Password)" class="text-red-400 text-xs mt-1" />
        </div>
    </div>  
    <div class="form-group row mb-3">
        <label class="col-12 col-md-4 col-form-label">@GetDisplayName(nameof(usuario.RPassword)): <span class="text-danger">*</span></label>
        <div class="col">
            <PasswordInput @bind-Value="@usuario.RPassword" Placeholder="Repita su Contraseña" class="form-control" />
            <ValidationMessage For="@(() => usuario.RPassword)" class="text-red-400 text-xs mt-1" />
        </div>
    </div>  
    <div class="form-group row mb-3">
        <label class="col-12 col-md-4 col-form-label">@GetDisplayName(nameof(usuario.Proyecto)): <span class="text-danger">*</span></label>
        <div class="col">
            <InputSelect @bind-Value="@usuario.Proyecto" class="form-select">
                @foreach (var item in Enum.GetValues<TiposProyectos>())
                {
                    <option value="@item">@item.GetDisplayName()</option>
                }
            </InputSelect>
            <ValidationMessage For="@(() => usuario.Proyecto)" class="text-red-400 text-xs mt-1" />
        </div>
    </div>
    <div class="form-group row mb-3">
        <label class="col-12 col-md-4 col-form-label">@GetDisplayName(nameof(usuario.Telefono)): <span class="text-danger">*</span></label>
        <div class="col">
            <TextInput @bind-Value="@usuario.Telefono" Placeholder="Numero de 10 digitos" class="form-control" />
            <ValidationMessage For="@(() => usuario.Telefono)" class="text-red-400 text-xs mt-1" />

        </div>
    </div>
    <div class="form-group row mb-3">
        <label class="col-12 col-md-4  col-form-label">@GetDisplayName(nameof(usuario.Instituto)): <span class="text-danger">*</span></label>
        <div class="col">
            <TextInput @bind-Value="@usuario.Instituto" Placeholder="@("Ingrese su " + GetDisplayName(nameof(usuario.Instituto)))" class="form-control" />
            <ValidationMessage For="@(() => usuario.Instituto)" class="text-red-400 text-xs mt-1" />
        </div>
    </div>
    <div class="form-group row mb-3">
        <label class="col-12 col-md-4  col-form-label">@GetDisplayName(nameof(usuario.Instituto)): <span class="text-danger">*</span></label>
        <div class="col">

            <AutoComplete @bind-Value="@usuario.Instituto"
                          TItem="string"
                          DataProvider="InstitutosDataProvider"
                          PropertyName=""
                          Placeholder="Search a customer..." />
            <ValidationMessage For="@(() => usuario.Instituto)" class="text-red-400 text-xs mt-1" />
        </div>
    </div>
    
    <div class="form-group row mb-3">
        <label class="col-12 col-md-4 col-form-label">@GetDisplayName(nameof(usuario.Carrera)): <span class="text-danger">*</span></label>
        <div class="col">
            <InputSelect @bind-Value="@usuario.Carrera" class="form-select">
                @foreach (var item in Enum.GetValues<Tipos_Carreras>())
                {
                    <option value="@((int)item)">@item.GetDisplayName()</option>
                }
            </InputSelect>
            <ValidationMessage For="@(() => usuario.Carrera)" class="text-red-400 text-xs mt-1" />
        </div>
    </div>
    <div class="form-group row mb-3">
        <label class="col-12 col-md-4 col-form-label">@GetDisplayName(nameof(usuario.Semestre)): <span class="text-danger">*</span></label>
        <div class="col">
            <InputSelect @bind-Value="@usuario.Semestre" class="form-select">
                @foreach (var item in Enum.GetValues<Numero_Semestre>())
                {
                    <option value="@item">@item.GetDisplayName()</option>
                }
            </InputSelect>
            <ValidationMessage For="@(() => usuario.Semestre)" class="text-red-400 text-xs mt-1" />
        </div>
    </div>
    
    <div class="form-group row mb-3">
        <label class="col-12 col-md-4 col-form-label">@GetDisplayName(nameof(usuario.GenPolaris)): <span class="text-danger">*</span></label>
        <div class="col">
            <InputSelect @bind-Value="@usuario.GenPolaris" class="form-select" >
                @foreach (var item in Enum.GetValues<GeneracionesPol>())
                {
                    <option value="@item">@item.GetDisplayName()</option>
                }
            </InputSelect>
            <ValidationMessage For="@(() => usuario.GenPolaris)" class="text-red-400 text-xs mt-1" />
        </div>
    </div>
    
    <div class="form-group row mb-3">
        <label class="col-12 col-md-4 col-form-label">@GetDisplayName(nameof(usuario.Habilidades)): <span class="text-danger">*</span></label>
        <div class="col">
            <InputSelect @bind-Value="@usuario.Habilidades" class="form-select" multiple>
                @foreach (var item in Enum.GetValues<TiposHabilidades>())
                {
                    <option value="@item">@item.GetDisplayName()</option>
                }
            </InputSelect>
            <ValidationMessage For="@(() => usuario.Habilidades)" class="text-red-400 text-xs mt-1" />
        </div>
    </div>
    <div class="form-group row mb-3">
        <label class="col-12 col-md-4  col-form-label">@GetDisplayName(nameof(usuario.Lugar_actual)): <span class="text-danger">*</span></label>
        <div class="col">

            <AutoComplete @bind-Value="@usuario.Lugar_actual"
                          TItem="string"
                          DataProvider="InstitutosDataProvider"
                          PropertyName=""
                          Placeholder="Search a customer..." />
            <ValidationMessage For="@(() => usuario.Lugar_actual)" class="text-red-400 text-xs mt-1" />

        </div>
    </div>
    <div class="form-group row mb-3">
        <label class="col-12 col-md-4  col-form-label">@GetDisplayName(nameof(usuario.Rol_actual)): <span class="text-danger">*</span></label>
        <div class="col">

            <AutoComplete @bind-Value="@usuario.Rol_actual"
                          TItem="string"
                          DataProvider="InstitutosDataProvider"
                          PropertyName=""
                          Placeholder="Search a customer..." />
            <ValidationMessage For="@(() => usuario.Rol_actual)" class="text-red-400 text-xs mt-1" />
        </div>
    </div>
   
    <div class="form-group row mb-3">
        <label class="col-12 col-md-4  col-form-label">@GetDisplayName(nameof(usuario.Interes_Polaris)): <span class="text-danger">*</span></label>
        <div class="col">
            <CheckboxInput @bind-Value="@usuario.Interes_Polaris" class="form-control" />
            <ValidationMessage For="@(() => usuario.Interes_Polaris)" class="text-red-400 text-xs mt-1" />
        </div>
    </div>

    
    <div class="mb-3">
        <Button Color="ButtonColor.Success" @onclick="HandleOnValidSubmit"> Registrarme </Button>
        <Button Color="ButtonColor.Secondary" @onclick="ResetForm"> Limpiar </Button>
    </div>
</EditForm>